/* General styles */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
span {
    font-weight: 300;
    color: #1ac056;
}
/* General styles - END */

/* nagivation menu */
#main-menu {
    background-color: #fff;
    list-style-type: none;
    position: fixed; /* Make it stick, even on scroll */
    overflow: hidden;
    width: 100%;
    z-index: 10;
}

#main-menu ul {
    padding: 0;
    margin: 0;
    text-align: right;
}

li {
    display: inline;
}

.menu-item a {
    display:inline-block;
    padding: 25px;
    color: #1ac056;
    text-decoration: none;
    font-weight: 300;
    transition: all 0.3s;
}

.menu-item a:hover {
    color: #291f1a;
}
/* navigation menu - END */

/* header */
#main-header {
    height: 100vh;
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
}
#main-header .header-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
#main-header .header-caption h1, 
#main-header .header-caption h2 {
    font-weight: 100;
}
#main-header .header-caption h1 {
    font-size: 3em;
}
#main-header .header-caption h2 {
    font-size: 2em;
}
/* header - END */

/* about me */
#about-me {
    background-color: #f9fcfe;
    display: block;
    position: relative;
    padding: 20px 40px 70px 100px;
}
#about-me h3 {
    text-align: center;
    margin: 0;
    display: block;
    font-weight: 100;
    font-size: 2em;
    padding: 25px;
}
#about-me img, #about-me p {
    display: inline-block;
}
#about-me div {
    padding: 0px 50px 0px 50px;
}
#about-me img {
    width: 40%;
    height: 40%;
    border: 15px solid #fff;
    border-radius: 5%; 
}
#about-me p {
    font-weight: 300;
    height: 50%;
    width: 50%;    
    float: right;
    line-height: 1.5em;
    margin: 0;
}
hr {
    margin: 0;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
/* about me - END */















