/* General styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

span {
    font-weight: 300;
    color: #1ac056;
}

/* General styles - END */

/* nagivation menu */

#main-menu {
    background-color: #fff;
    list-style-type: none;
    position: fixed;
    /* Make it stick, even on scroll */
    overflow: hidden;
    width: 100%;
    z-index: 10;
}

#main-menu ul {
    padding: 0;
    margin: 0;
    text-align: right;
}

li {
    display: inline;
}

.menu-item a {
    display: inline-block;
    padding: 25px;
    color: #1ac056;
    text-decoration: none;
    font-weight: 300;
    transition: all 0.3s;
}

.menu-item a:hover {
    color: #291f1a;
}

/* navigation menu - END */

/* header */

#main-header {
    height: 100vh;
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
}

#main-header .header-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#main-header .header-caption h1,
#main-header .header-caption h2 {
    font-weight: 100;
}

#main-header .header-caption h1 {
    font-size: 3em;
}

#main-header .header-caption h2 {
    font-size: 2em;
}

/* header - END */

/* about me */

#about-me {
    background-color: #f9fcfe;
    display: block;
    padding: 20px 40px 70px 100px;
}

#about-me h3 {
    text-align: center;
    margin: 0;
    display: block;
    font-weight: 100;
    font-size: 2em;
    padding: 25px;
}

#about-me img,
#about-me p {
    display: inline-block;
}

#about-me div {
    padding: 0px 50px 0px 50px;
}

#about-me img {
    width: 40%;
    height: 40%;
    border: 15px solid #fff;
    border-radius: 5%;
}

#about-me p {
    font-weight: 300;
    height: 50%;
    width: 50%;
    float: right;
    line-height: 1.5em;
    margin: 0;
}

hr {
    margin: 0;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/* about me - END */

/* my skills */

#my-skills {
    display: block;
    position: relative;
    padding: 20px 40px 70px 100px;
}

#my-skills h3 {
    text-align: center;
    margin: 0;
    display: block;
    font-weight: 100;
    font-size: 2em;
    padding: 25px;
}

#my-skills p {
    font-weight: 300;
    line-height: 1.5em;
    margin: 0;
    text-align: center;
    padding: 20px;
}

#my-skills img {
    padding: 20px;
}

.image {
    display: inline-block;

}

#my-skills div {
    text-align: center;
}

/* my skills - END */

/* my portfolio */

#my-portfolio {
    /* whole section */
    display: block;
    position: relative;
}

#my-portfolio h3 {
    /* header*/
    text-align: center;
    margin: 0;
    display: block;
    font-weight: 100;
    font-size: 2em;
    padding: 25px;
}

.all-portfolio-items {
    padding: 20px 40px;
}

.portfolio-item {
    display: inline-block;
    text-align: center;
    position: relative;
    width: 30%;
    background-color: #213a50;
}

.item-content {
    width: 100%;
    height: 100%;
    margin:0;
}

.portfolio-item img {
    opacity: 1;
    display: inline-block;
    min-width: 50%;
    height: 100%;
    transition: all .5s;
    overflow: hidden;
}

.item-mask {
    margin: 5px;
    border: 1px solid #fff;
    color: #fff;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.portfolio-item:hover img {
    opacity: 0.3;
}

.portfolio-item:hover .item-mask {
    opacity: 1;
}

/* my portfolio - END */

/* footer */
#contact {
    background-color: #213b50;
    padding: 50px;
    color: #fff;
    font-weight: 300;
    position: relative;
}
#contact h2 {
    font-size: 2em;
    font-weight: 100;
    margin: 0;
}
#contact-content {
    font-style: normal;
    line-height: 1.5em;
    padding: 100px 100px 100px 0px;
}
#contact-content a {
    color: #1ac056;
}

#fontawesome i {
    border: 1px solid #fff;
    text-align: center;
    font-size: 1.5em;
    margin: 10px;
    height: 40px;
    width: 40px;
}

#contact-content, #form {
    display: inline-block;
}
#form {
    text-align: right;
    position: absolute;
    right: 10%;
    width: 40%;  
}

input[type="text"], input[type="email"], textarea {
    display: block;
    background-color: #2b4a64;
    border: none;
    color: #fff;
    width: 100%;
    height: 50px;
    padding: 15px 15px
}
input[type="submit"]{
    background-color: #1ac056;
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
    border: 1px solid #fff;
}
textarea {
    height: 100px;
}


/* footer - END */

#copyright {
    margin: 0;
    display: block;
    width: 100%;
    background-color: #15242f;
    font-weight: 300;
    color: #fff;
    padding: 5px 20px;
}
#copyright a {
    color: #fff;
    text-decoration: none;
}













